body {
    background-image:url("https://tau0.files.wordpress.com/2013/02/cascades_cloudy_day_bw.jpg");
    font-family: "Lucida Sans", sans-serif;
}
@media (max-width: 800px) {
    .main > div.form_wrapper,#medical_wrapper, #credential_wrapper{
        width: 100% !important;
        padding: 0;
    }
}
.signup_content {
    position:relative;
    float:left;
    margin-left:22%;
    font-size:1.3em;
}
.signup_content_med {
    position:relative;
    float:left;
    margin-left:20%;
    font-size:1.3em;
    text-align:center;
}
#names {
    margin-bottom:10px;
}
#usernames {
    margin-bottom:20px;
    margin-right:38%;
    font-size:2.0em;
}
#usernames name{
    margin-bottom:20px;
    font-size:1.9em;
}
#passwords{
    font-size:1.0em;
}
#signup_content_credentials{
    position:relative;
    margin-top:20%;
}
#signup_content_financial{
    position:relative;
    margin-top:20%;
}
#basic_medical {
    margin-bottom:5%;
    margin-left:15%;
    float:left;
}
#dob {
    width:45%;
}
#medical_history input {
}
#medical_wrapper {
    height: 98vh;
    width: 27%;
}
.sign_up_nav {
    position:absolute;
    text-align:center;
    bottom:10%;
    left:37%;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 2% 0;
    box-sizing: border-box;
}

.sign_up_nav a{
    display:inline-block;
}
.back_button {
    margin-right: 20%;
    margin-top: 20%;
}
.next_button {
    margin-top: 20%;
}
#packages {
    margin-left:0%;
    color:white;
}
.main h1 {
    text-align:center;
    font-size:3em;
}
.form_wrapper {
    position: relative;
    height: 91vh;
    width: 25%;
    margin: -7% auto;
    padding: 1%;
    background:linear-gradient(#080808,#52555a);
    color: white;
    box-shadow: 10px -8px 60px #45454d;
    overflow:hidden;
}
.form_wrapper::after {
    content:"";
    clear:both;
    display:table;
}
#credential_wrapper {
    height:70vh;
}
.main {
    position: relative;
    height: 80vh;
    width: 100%;
    padding: 1%;
}
.head_banner {
    height:20vh;
    width:100%;
    background:black;
    border-style:solid;
    border-width:1px;
    border-color:black;
    color:white;    
    opacity:0.4;

    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    padding-right: 14px;

    box-shadow:5px 10px 20px #35383d;
}
