/**

    https://code.tutsplus.com/tutorials/30-css-best-practices-for-beginners--net-6741 
    Good CSS practices 
    1) css reset: allows layout to be consistent in all browsers 
    2) organize top-down structure 
        a. generic classes (body, a, p, h1)
        b. header 
        c. nav-menu 
        d. main-content 
    3) combine elements 
    4) create HTML first 
    5) use multiple classes 
    6) add comments
    7) block elements: div, h1...h6, p, ul, li, table, blockquote, pre, form 
    8) inline or block elements: span, a, strong, em, img, br, input, abbr, acronym 
    9) alphabetize properties 
    10) css compress 
    11) to center layouts use margin: 0 auto //top, btm- and left, right values respectively 
    12) use absolute sparingly 
    13) use text-transform 
    14) use ems over pixels to specify font size due to its scalabilty 
    15) Add margins and paddings to all // * { margin: 0; padding: 0}
*/

body {
    margin: 0px;
    padding: 0px;
   /* background: url("../images/background.png");*/
}

h1 {
    border-bottom-style: solid;
    border-bottom-color: black; 

}


.carousel {
    position: relative;
    /*box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64); */
    margin: auto;
    width: 90%;
    height: 40vw;
    overflow: hidden;
  
}

.carousel-inner {
    position: inherit;
    margin: auto;
    width: 90%;
    height: 40vw;
    overflow: hidden;

   
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
    align-self:center;
    margin:auto;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
   
        
}

.carousel-item img {
       display: block;
       height: auto;
       max-width: 100%;
 }

.card_info {
    position: absolute;
    display:inline-block;
    top:20%;
    right: 20%; 
    background-color: rgba(255,255,255,0.8);
    color: black;
    padding:10px;
    width:20%;
    height: 50%;
    overflow:hidden;
}

.card_info a  {
    position:absolute;
    bottom: 5%; 
    background-color: #428bca;
    color: black;
    text-decoration:none;
    text-align: center;
    padding: 5px;
    width:80%;
    margin:inherit;

}

.card_info2 {
    position: absolute;
    display: inline-block;
    top: 20%;
    right: 20%;
    background-color: rgba(255,255,255,0.6);
    color: black;
    padding: 10px;
    width: 20%;
    height: 50%;
    overflow: hidden;
    border: 1px solid black;

}

.card_info2 a {
    position: absolute;
    bottom: 5%;
    background-color: #428bca;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    width: 80%;
    margin: inherit

}

.more_info {
    position: absolute;
    bottom: 5%;
    background-color: #428bca;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 0;
    width: 100%;

}


.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

    .carousel-control.prev {
        left: 2%;
    }

    .carousel-control.next {
        right: 2%;
    }

    .carousel-control:hover {
        background: rgba(0, 0, 0, 0.8);
        color: #aaaaaa;
    }


#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3, 
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5 {
    display: block
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

    .carousel-indicators li {
        display: inline-block;
        margin: 0 5px;
    }

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet, 
#carousel-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet {
    color: #428bca
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);

}


.row {
    /*content: "";
    display: table;
    clear: both;*/
    margin-top: 20px;
    padding-top: 20px;

    border-top-style: solid;
    border-top-width: 4px;
    border-top-color: black;
    text-align: center;

    background-color: white; 

}

.left_column {
    background-color: white;
    float: left;
    height: auto;
    padding: 20px;
    width: 50%;
    margin-left:10%;

}

/*#f1f1f1*/
.right_column {
    background-color: white;
    float: left;
    height: auto;
    padding: 20px;
    width: 20%;
    margin-right: 10%;
    border: 1px solid black;
    margin-top: 20px;
}

/*.left_column {
    background-color: aliceblue;
    float: left;
    height: 20vh;
    padding: 0;
    width: 60%;
    margin-top: 20px

}

#f1f1f1
.right_column {
    background-color: black;
    float: left;
    height: 20vh;
    padding: 20px;
    width: 20%;
    margin-top: 20px
}*/


.card {
    background-color: rgba(0, 173, 248, 0.1);
    padding: 10px;
    text-align: right;

}

.card_one {
    background-color: rgba(241, 241, 241, 1);
    padding: 10px;
    text-align: left;

}

.card_two {
    background-color: rgba(241, 241, 241, 1);
    padding: 10px;
    text-align:right;

}


.card_three {
    width: 100%;
    height: 100%;
    background-color:yellow;

}

.card_three  img {
    width: 25%;
    height: 25%;
    float: left;
}


.card_four {
    width: 100%;
    height: 25%;
  
}
.card_four img {
    width: 25%;
    height: 100px;
    float: right;
}

/*.header_title h1 img {
    width = 100;
    height = 100;

}*/

@media (max-width: 800px) {
    .left_column, .right_column {
        width: 100%;
        padding: inherit;
        margin: inherit
    }

    .card_info {
        overflow-y: scroll
    }

        .card_info a {
            display: none
        }

    .card_info2 a {
        display: none
    }

    .header_title img {
        padding: inherit;
        margin: inherit;
    }
}